.benefits {
  padding-top: var(--offset-xl);
  padding-bottom: var(--offset-xl);
  background-color: var(--c-grey-light);

  &__header {
    @include flex-all-sb;

    gap: 50px;
    margin-bottom: var(--offset-l);

    @include small-tablet {
      gap: 0;
    }

    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__subtitle {
    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    @include small-tablet {
      margin: 0;
      width: unset;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .page-card {
    flex-grow: 1;
    width: calc((100% / 4) - var(--gap));

    &:nth-child(5),
    &:nth-child(6) {
      flex-direction: row;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      width: calc((100% / 3) - var(--gap));

      &:nth-child(5),
      &:nth-child(6) {
        flex-direction: column;
      }
    }

    @include small-tablet {
      width: calc((100% / 2) - var(--gap));
    }

    @include mobile {
      width: 100%;
    }
  }

  .decorate-box__item {
    &--fill {
      background-color: #c5965a;
    }

    &--bg {
      background-image: url("../img/bg-sand.jpg");
    }

    @include small-tablet {
      display: none;
    }
  }
}
