.btn {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--c-accent);
  border-radius: var(--border-r-xl);
  padding: 24px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  color: var(--c-white);
  background-color: var(--c-accent);
  transition: color var(--duration-medium), background-color var(--duration-medium), box-shadow var(--duration-medium), opacity var(--duration-medium);

  @include hover {
    box-shadow: var(--box-shadow-small);
    color: var(--c-accent);
    background-color: var(--c-white);
  }

  &:focus-visible {
    outline-color: var(--c-accent-dark);
  }

  &:active {
    opacity: var(--opacity);
  }

  @include small-tablet {
    padding: 16px var(--offset-m);
  }
}
