.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffffe6;

  &__container {
    @include flex-all-sb;

    @include tablet {
      justify-content: unset;
    }
  }

  .logo {
    z-index: var(--zindex-nav-items);

    @include tablet {
      margin-right: auto;
    }
  }

  &__contact {
    z-index: var(--zindex-nav-items);

    @include tablet {
      margin-right: var(--offset-m);

      span {
        display: none;
      }
    }

    @include mobile {
      .page-contact__wrapper {
        display: none;
      }
    }
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--zindex-header);
  width: 100%;
}
