.hero {
  @include bg-cover;

  position: relative;
  background-image: url("../img/wall.jpg");

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    height: var(--vh);
    max-height: 1080px;
  }

  &__content {
    min-width: 590px;

    @include mobile {
      min-width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--c-blue);

    @include mobile {
      margin-bottom: 24px;
      font-size: 30px;
    }
  }

  &__list {
    margin-bottom: 50px;

    li {
      position: relative;
      padding-left: var(--offset-s);
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: var(--c-blue);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        border-radius: 100%;
        width: 8px;
        height: 8px;
        background-color: currentcolor;
      }

      @include mobile {
        font-size: 16px;
      }
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    height: 70%;
    gap: var(--gap);

    @include tablet {
      display: none;
    }
  }

  &__img {
    overflow: hidden;
    border-radius: var(--border-r-s);

    img {
      width: 100%;
    }

    &:nth-child(1) {
      align-self: end;
      width: 23%;
      height: 23%;
    }

    &:nth-child(2) {
      width: 43%;
      height: 43%;
    }

    &:nth-child(3) {
      align-self: end;
      width: 17%;
      height: 17%;
    }

    &:nth-child(4) {
      width: 57%;
      height: 57%;
    }

    &:nth-child(5) {
      width: 30%;
      height: 30%;
    }
  }

  &__btn {
    @include mobile {
      width: 100%;
    }
  }

  .scrolldown {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 30px;
    height: auto;
    color: var(--c-grey-dark);
    opacity: 0.5;
    transform: translateX(-50%);

    @include mobile {
      display: none;
    }
  }
}
