.info {
  padding-top: var(--offset-xl);
  padding-bottom: var(--offset-xl);
  background-color: var(--c-grey-light);

  &__header {
    @include flex-all-sb;

    margin-bottom: var(--offset-l);

    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__subtitle {
    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    @include small-tablet {
      margin: 0;
      padding: 0;
      padding-left: max(var(--container-offset), (100% - var(--content-width)) / 2);
      width: unset;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);

    @include tablet {
      grid-template-columns: repeat(9, 1fr);
    }

    @include small-tablet {
      display: flex;
      gap: unset;
    }
  }

  &__item {
    grid-column: 4 span;
    align-self: stretch;
    width: auto;
    height: auto;

    @include tablet {
      grid-column: 3 span;
    }

    @include small-tablet {
      width: 45%;
    }

    @include mobile {
      width: 65%;
    }
  }

  .swiper {
    overflow: visible;
    width: 100%;
    height: 100%;
  }

  .decorate-box__item {
    &--fill {
      background-color: #c5c5c5;
    }

    &--bg {
      background-image: url("../img/bg-concrete-s.jpg");
    }
  }
}
