.info {
  padding-top: var(--offset-xl);
  padding-bottom: var(--offset-xl);
  background-color: var(--c-grey-light);

  &__header {
    @include flex-all-sb;

    gap: 50px;
    margin-bottom: var(--offset-l);

    @include small-tablet {
      gap: 0;
    }

    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__subtitle {
    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    gap: var(--gap);

    @include small-tablet {
      flex-wrap: wrap;
    }
  }

  .page-card {
    flex-grow: 1;
    width: calc((100% / 3) - var(--gap));

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    @include small-tablet {
      width: calc((100% / 2) - var(--gap));
    }

    @include mobile {
      width: 100%;
    }
  }

  .decorate-box__item {
    &--fill {
      background-color: #c5c5c5;
    }

    &--bg {
      background-image: url("../img/bg-concrete-s.jpg");
    }

    @include small-tablet {
      display: none;
    }
  }
}
