.logo {
  display: block;
  width: 140px;
  height: auto;

  img {
    width: 100%;
  }

  @include mobile {
    width: 100px;
  }
}

.color-accent {
  color: var(--c-accent);
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: var(--offset-l);
  padding-left: 26px;
  font-weight: 400;
  font-size: 16px;
  color: var(--c-blue);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: var(--c-accent);
  }
}

.subtitle {
  margin: 0;
  max-width: 598px;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  color: var(--c-blue);

  @include small-tablet {
    max-width: 340px;
    font-size: 24px;
  }
}

.decorate-box {
  @include flex;

  &__item {
    position: relative;
    border-radius: var(--border-r-s);
    width: 90px;
    height: 90px;

    &--fill {
      z-index: 3;
    }

    &--bg {
      @include bg-cover;

      z-index: 2;
    }

    &--border {
      border: 2px solid var(--c-blue);
    }

    @media (prefers-reduced-motion: reduce) {
      transform: translateX(0) rotate(-45deg);
    }

    @include tablet {
      width: 60px;
      height: 60px;
    }
  }
}

.created {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: var(--opacity);
  transition: opacity var(--duration-medium);

  svg {
    margin: 0 3px;
    color: var(--c-accent);
  }

  @include hover {
    opacity: 1;
  }
}
