.page-table {
  border-radius: var(--border-r-s);
  border-spacing: 0;
  padding: var(--offset-m);
  width: 100%;
  text-align: left;
  background-color: var(--c-white);

  caption {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: left;
    color: var(--c-dark);

    @include tablet {
      font-size: 24px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  thead th {
    border-bottom: 1px solid var(--c-blue);
    padding-right: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--c-grey-dark);

    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      min-width: 20%;
    }

    &:nth-child(4) {
      min-width: 20%;
    }

    @include mobile {
      font-size: 10px;
    }
  }

  tbody th,
  tbody td {
    padding-top: var(--offset-s);
    padding-right: var(--offset-s);
    padding-bottom: var(--offset-s);
    font-weight: 500;
    font-size: 22px;
    color: var(--c-blue);

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      padding-right: 5px;
      font-size: 14px;
    }
  }

  tbody tr {
    transition: background-color var(--duration-medium);
    cursor: pointer;

    &:not(:last-child) {
      th,
      td {
        border-bottom: 1px solid var(--c-grey-light);
      }
    }

    @include hover {
      background-color: var(--c-grey-light);
    }
  }

  @include mobile {
    padding: 5px;
  }
}
