.page-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--border-r-s);
  padding: var(--offset-l) var(--offset-m);
  box-shadow: var(--box-shadow);
  background-color: var(--c-white);
  gap: var(--gap);

  @include small-tablet {
    flex-direction: row;
  }

  @include mobile {
    gap: 15px;
  }

  &__icon {
    @include bg-cover;

    width: 80px;
    height: 80px;
    min-width: 80px;

    @include mobile {
      width: 60px;
      height: 60px;
      min-width: 60px;
    }
  }

  h3,
  h4 {
    margin: 0;
    margin-bottom: var(--offset-s);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--c-blue);
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 120%;
    color: var(--c-grey-dark);

    @include mobile {
      font-size: 14px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 120%;
    color: var(--c-grey-dark);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      background-color: currentcolor;
    }

    @include mobile {
      font-size: 14px;

      &::before {
        width: 5px;
        height: 5px;
      }
    }
  }
}
