.projects {
  padding-top: var(--offset-xl);
  padding-bottom: var(--offset-xl);

  &__header {
    @include flex-all-sb;

    margin-bottom: var(--offset-l);
  }

  &__controlls {
    @include flex-all-sb;

    @include mobile {
      display: none;
    }
  }

  &__btn {
    @include flex-all-center;

    overflow: hidden;
    border: 2px solid var(--c-accent);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: var(--c-accent);
    transition: background-color var(--duration-medium), border-color var(--duration-medium), opacity var(--duration-medium);

    svg {
      display: block;
      width: 60%;
      height: auto;
      fill: var(--c-white);
      object-fit: cover;
      transition: fill var(--duraton-medium);
    }

    &:first-child {
      margin-right: var(--offset-s);
    }

    @include hover {
      border-color: var(--c-accent);
      background-color: var(--c-white);

      svg {
        fill: var(--c-accent);
      }
    }

    &:focus-visible {
      outline-color: var(--c-accent-dark);
    }

    &:active {
      opacity: var(--opacity);
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .swiper {
    margin: -20px !important;
    padding: 20px !important;
  }

  .swiper-slide {
    // overflow: hidden;
    // border-radius: var(--border-r-s);
    // box-shadow: var(--box-shadow-small);
  }

  &__scrollbar {
    margin-top: var(--offset-l);
    height: 10px;
    max-width: 600px;

    .swiper-scrollbar-drag {
      background-color: var(--c-accent);
      cursor: grab;
    }
  }
}

.project-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-radius: var(--border-r-s);
  padding: var(--offset-s);
  height: 420px;
  box-shadow: var(--box-shadow-small);

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--duration-medium);
    will-change: transform;
  }

  &__tags {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

    li {
      border-radius: var(--border-r-xl);
      padding: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: var(--c-blue);
      background-color: var(--c-white);
    }
  }

  a {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--c-accent);
      opacity: 0;
      transition: opacity var(--duration-short);
    }

    &::before {
      @include bg-cover;

      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40px;
      height: 40px;
      background-image: url("../img/zoom.svg");
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity var(--duration-short);
      z-index: 2;
    }
  }

  @include hover {
    img {
      transform: scale(1.1);
    }

    a {
      &::after {
        opacity: 0.4;
      }

      &::before {
        opacity: 1;
      }
    }
  }
}
