<section class="benefits" id="benefits" data-section-observer>
  <div class="container">
    <h2 class="title">Преимущества</h2>
    <div class="benefits__header">
      <p class="subtitle benefits__subtitle">У нас вы получите <span class="color-accent">лучший материал и сервис</span></p>
      <div class="decorate-box">
        <div class="decorate-box__item decorate-box__item--fill"></div>
        <div class="decorate-box__item decorate-box__item--bg"></div>
        <div class="decorate-box__item decorate-box__item--border"></div>
      </div>
    </div>
  </div>
  <div class="container benefits__wrapper">
    <div class="swiper benefits__swiper">
      <div class="swiper-wrapper benefits__list">
        <div class="swiper-slide page-card benefits__item">
          <div class="page-card__icon">
            <img src="img/consultation.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Консультация</h3>
            <p class="page-card__descr">Мы поможем с выбором материала под ваш проект</p>
          </div>
        </div>
        <div class="swiper-slide page-card benefits__item">
          <div class="page-card__icon">
            <img src="img/ruler.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Выезд замерщика</h3>
            <p class="page-card__descr">Наш специалист бесплатно приедет на замер</p>
          </div>
        </div>
        <div class="swiper-slide page-card benefits__item">
          <div class="page-card__icon">
            <img src="img/pin.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Быстрая доставка</h3>
            <p class="page-card__descr">Оперативно доставим нужный вам материал</p>
          </div>
        </div>
        <div class="swiper-slide page-card benefits__item">
          <div class="page-card__icon">
            <img src="img/funnel.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Аренда АБН</h3>
            <p class="page-card__descr">Подберем и дадим в аренду необходимую спецтехнику</p>
          </div>
        </div>
        <div class="swiper-slide page-card page-card--big benefits__item">
          <div class="page-card__icon">
            <img src="img/file.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Пакет документов</h3>
            <p class="page-card__descr">Предоставим все сертификаты, договор, УПД</p>
          </div>
        </div>
        <div class="swiper-slide page-card page-card--big benefits__item">
          <div class="page-card__icon">
            <img src="img/clock.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Поддержка 24/7</h3>
            <p class="page-card__descr">Всегда узнаем ваше мнение о качестве нашего материала и услуг после доставки.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
