<section class="benefits" id="benefits" data-section-observer>
  <div class="container">
    <h2 class="title">Преимущества</h2>
    <div class="benefits__header">
      <p class="subtitle benefits__subtitle">У нас вы получите <span class="color-accent">лучший материал и
          сервис</span></p>
      <div class="decorate-box">
        <div class="decorate-box__item decorate-box__item--fill"></div>
        <div class="decorate-box__item decorate-box__item--bg"></div>
        <div class="decorate-box__item decorate-box__item--border"></div>
      </div>
    </div>
  </div>
  <div class="container benefits__wrapper">
    <div class="benefits__list">
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/consultation.svg');"></div>
        <div class="page-card__content">
          <h3>Консультация</h3>
          <p>Мы поможем с выбором материала под ваш проект</p>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/ruler.svg');"></div>
        <div class="page-card__content">
          <h3>Выезд замерщика</h3>
          <p>Наш специалист бесплатно приедет на замер</p>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/pin.svg');"></div>
        <div class="page-card__content">
          <h3>Быстрая доставка</h3>
          <p>Оперативно доставим нужный вам материал</p>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/funnel.svg');"></div>
        <div class="page-card__content">
          <h3>Аренда АБН</h3>
          <p>Подберем и дадим в аренду необходимую спецтехнику</p>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/file.svg');"></div>
        <div class="page-card__content">
          <h3>Пакет документов</h3>
          <p>Предоставим все сертификаты, договор, УПД</p>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/clock.svg');"></div>
        <div class="page-card__content">
          <h3>Поддержка 24/7</h3>
          <p>Всегда узнаем ваше мнение о качестве нашего материала и услуг после доставки.</p>
        </div>
      </div>
    </div>
  </div>
</section>
