<section class="contact" id="contacts">
  <div class="container contact__container">
    <h2 class="title contact__title">Контакты</h2>
    <div class="contact__wrapper">
      <div class="contact__col">
        <p class="subtitle contact__subtitle">Свяжитесь с нами любым <span class="color-accent">удобным способом</span></p>
        <p class="contact__descr">Вы всегда можете позвонить и написать нам </p>
        <ul class="list-reset contact__list">
          <li class="contact__item">
            <a href="tel:+79680783056" class="contact__link">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              8 (968) 078-30-56
            </a>
          </li>
          <li class="contact__item">
            <a href="tel:+79680783056" class="contact__link">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              alfa-plusooo@yandex.ru
            </a>
          </li>
        </ul>
      </div>
      <div class="contact__col">
        <form action="#" class="form form--light">
            <fieldset>
              <legend>Оставьте заявку</legend>
              <p class="form__descr">Наши специалисты бесплатно проконсультируют и помогут с выбором материала для вашего проекта</p>
              <label class="form__label">
                <input type="tel" name="phone" class="input-reset form__input" placeholder="Ваш телефон">
              </label>
              <button class="btn-reset btn form__btn" type="submit">Оставить заявку</button>
              <p class="agree">Нажамая на кнопку, вы соглашаетесь с условиями обработки персональных данных и <a href="#">политикой конфиденциальности</a></p>
            </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
