<header class="header fix-block">
  <div class="container header__container">
    <a href="#" class="logo">
      <img src="img/logo-colour.png" alt="Логотип ООО АЛЬФА+" width="179" height="68">
    </a>
    <nav class="nav" title="Навигация" data-nav>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#price" class="nav__link" data-nav-item>Прайс</a></li>
        <li class="nav__item"><a href="#info" class="nav__link" data-nav-item>Оплата и доставка</a></li>
        <li class="nav__item"><a href="#projects" class="nav__link" data-nav-item>Портфолио</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link" data-nav-item>Контакты</a></li>
      </ul>
    </nav>
    <a href="tel:+79680783056" class="page-contact header__contact">
      <svg>
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
      <div class="page-contact__wrapper">
        <p>8 (968) 078-30-56</p>
        <span>Ежедневно с 9:00 до 18:00</span>
      </div>
    </a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
