<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title accent-typography">Доставим бетон, <span class="color-accent">песок</span>, щебень, раствор</h1>
      <ul class="list-reset hero__list">
        <li>Привезем за 24 часа без недовеса</li>
        <li>Работаем по Москве и МО</li>
        <li>Даем сертификаты и все закрывающие документы</li>
      </ul>
      <button class="btn-reset btn hero__btn">Оставить заявку</button>
    </div>
    <div class="hero__img">
      <img src="img/bg-hero.png" aria-hidden="true" alt="">
    </div>
  </div>
  <svg class="scrolldown" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 22 32" width="44" height="64">
    <g fill="none" stroke-width="2" stroke="currentColor">
      <path class="scrolldown__path" d="M 10 8 v 5" stroke-linecap="round" stroke-dasharray="5"
        stroke-dashoffset="5" />
      <rect width="20" height="30" rx="10" />
    </g>
  </svg>
</section>
