<section class="hero" data-section-observer>
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title accent-typography">Доставим бетон, <span class="color-accent">песок</span>, щебень, раствор
      </h1>
      <ul class="list-reset hero__list">
        <li>Привезем за 24 часа без недовеса</li>
        <li>Работаем по Москве и МО</li>
        <li>Даем сертификаты и все закрывающие документы</li>
      </ul>
      <button class="btn-reset btn hero__btn" data-graph-path="form-modal">Оставить заявку</button>
    </div>
    <div class="hero__images">
      <div class="hero__img" style="background-image: url('./img/bg-sand.jpg');"></div>
      <div class="hero__img" style="background-image: url('./img/bg-concrete-s.jpg');"></div>
      <div class="hero__img" style="background-image: url('./img/bg-stone-s.jpg');"></div>
      <div class="hero__img" style="background-image: url('./img/bg-concrete-m.jpg');"></div>
      <div class="hero__img" style="background-image: url('./img/bg-stone-m.jpg');"></div>
    </div>
  </div>
</section>
