<section class="info" id="info" data-section-observer>
  <div class="container">
    <h2 class="title">Оплата и доставка</h2>
    <div class="info__header">
      <p class="subtitle info__subtitle">Делаем все, чтобы вы быстро получили Ваш заказ</p>
      <div class="decorate-box">
        <div class="decorate-box__item decorate-box__item--fill"></div>
        <div class="decorate-box__item decorate-box__item--bg"></div>
        <div class="decorate-box__item decorate-box__item--border"></div>
      </div>
    </div>
  </div>
  <div class="container info__wrapper">
    <div class="info__list">
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/card.svg');"></div>
        <div class="page-card__content">
          <h3>Способы оплаты</h3>
          <ul>
            <li>100% предоплата счета</li>
            <li>Оплата наличными на объекте</li>
            <li>Перевод на карту</li>
          </ul>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/pin.svg');"></div>
        <div class="page-card__content">
          <h3>Доставка</h3>
          <ul>
            <li>Собственный автопарк с миксерами от 7 до 12 м3</li>
            <li>Время выгрузки с момента приезда на объект - 1 час</li>
          </ul>
        </div>
      </div>
      <div class="page-card">
        <div class="page-card__icon" style="background-image: url('img/funnel.svg');"></div>
        <div class="page-card__content">
          <h3>Автобетононасосы</h3>
          <ul>
            <li>Подберем и предоставим в аренду автобетононасос</li>
            <li>Минимальная смена 8 часов</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
