<section class="info" id="info">
  <div class="container">
    <h2 class="title">Оплата и доставка</h2>
    <div class="info__header">
      <p class="subtitle info__subtitle">Делаем все, чтобы вы быстро получили Ваш заказ</p>
      <div class="decorate-box">
        <div class="decorate-box__item decorate-box__item--fill"></div>
        <div class="decorate-box__item decorate-box__item--bg"></div>
        <div class="decorate-box__item decorate-box__item--border"></div>
      </div>
    </div>
  </div>
  <div class="container info__wrapper">
    <div class="swiper info__swiper">
      <div class="swiper-wrapper info__list">
        <div class="swiper-slide page-card info__item">
          <div class="page-card__icon">
            <img src="img/card.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Способы оплаты</h3>
            <ul class="list-reset page-card__list">
              <li class="page-card__item">100% предоплата счета</li>
              <li class="page-card__item">Оплата наличными на объекте</li>
              <li class="page-card__item">Перевод на карту</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide page-card info__item">
          <div class="page-card__icon">
            <img src="img/pin.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Доставка</h3>
            <ul class="list-reset page-card__list">
              <li class="page-card__item">Собственный автопарк с миксерами от 7 до 12 м3</li>
              <li class="page-card__item">Время выгрузки с момента приезда на объект - 1 час</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide page-card info__item">
          <div class="page-card__icon">
            <img src="img/funnel.svg" aria-hidden="true" alt="">
          </div>
          <div class="page-card__content">
            <h3 class="page-card__title">Автобетононасосы</h3>
            <ul class="list-reset page-card__list">
              <li class="page-card__item">Подберем и предоставим в аренду автобетононасос</li>
              <li class="page-card__item">Минимальная смена 8 часа</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
