<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="form-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <form action="#" class="form form--light modal__form">
        <fieldset>
          <legend>Оставьте заявку</legend>
          <p class="form__descr">Наши специалисты бесплатно проконсультируют и помогут с выбором материала для вашего проекта</p>
          <label class="form__label">
            <input type="tel" name="phone" class="input-reset form__input" placeholder="Ваш телефон">
          </label>
          <button class="btn-reset btn form__btn" type="submit">Оставить заявку</button>
          <p class="agree">Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных и <a href="#">политикой конфиденциальности</a></p>
        </fieldset>
    </form>
    </div>
  </div>
</div>
