<section class="price" id="price" data-section-observer>
  <div class="container">
    <h2 class="title">Прайс-лист</h2>
    <p class="subtitle price__subtitle">Предлагаем самые <span class="color-accent">выгодные цены</span></p>
    <ul class="list-reset price__list">
      <li class="price__item">
        <a href="./doc/price-list.pdf" class="price__link" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать прайс-лист, pdf</p>
        </a>
      </li>
      <li class="price__item">
        <a href="./doc/price-list.xlsx" class="price__link" download>
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать прайс-лист, excel</p>
        </a>
      </li>
      <!-- <li class="price__item">
        <a href="" class="price__link">
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать декларации, pdf</p>
        </a>
      </li> -->
    </ul>
    <div class="tabs" data-tabs="price-tab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Бетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Раствор</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Керамзитобетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Тощий бетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Цементно-песчаная смесь</button></li>
        <!-- <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Цементное молочко</button></li> -->
      </ul>
      <div class="tabs__content">
        <!-- Бетон -->
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Бетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>на гравии <br>с&nbsp;НДС 20%</th>
                <th scope="col">Цена за 1м3,<br>на граните <br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-100</th>
                <td>В7,5 П2-4 F100 W2</td>
                <td>4100 ₽</td>
                <td>4300 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-150</th>
                <td>В12,5 П2-4 F100 W2</td>
                <td>4300 ₽</td>
                <td>5200 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В15 П2-4 F100 W4</td>
                <td>4400 ₽</td>
                <td>5400 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-250</th>
                <td>В20 П2-4 F150 W4</td>
                <td>4600 ₽</td>
                <td>5550 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-300</th>
                <td>В22,5 П2-4 F150 W6</td>
                <td>4800 ₽</td>
                <td>5700 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-350</th>
                <td>В25 П2-4 F200 W8</td>
                <td>4950 ₽</td>
                <td>5900 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-400</th>
                <td>В30 П2-4 F200 W10</td>
                <td>5250 ₽</td>
                <td>6200 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-450</th>
                <td>В35 П2-4 F200 W12</td>
                <td>5500 ₽</td>
                <td>6400 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-500</th>
                <td>В40 П2-4 F200 W14</td>
                <td>-</td>
                <td>6650 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-600</th>
                <td>В45 П2-4 F300 W14</td>
                <td>-</td>
                <td>7000 ₽</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Раствор -->
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Раствор</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-100</th>
                <td>Раствор Пк3 F50</td>
                <td>3400 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-150</th>
                <td>Раствор Пк3 F75</td>
                <td>3720 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>Раствор Пк3 F100</td>
                <td>3900 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-250</th>
                <td>Раствор Пк3 F100</td>
                <td>4000 ₽</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Керамзитобетон -->
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Керамзитобетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-75</th>
                <td>БСЛ В5 D1000</td>
                <td>3750 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-100</th>
                <td>БСЛ В7,5 D1200</td>
                <td>3900 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-150</th>
                <td>БСЛ В12,5 D1400</td>
                <td>4100 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>БСЛ В15 D1600</td>
                <td>4300 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-250</th>
                <td>БСЛ В20 D1800</td>
                <td>4500 ₽</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Тощий бетон -->
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Тощий бетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-100</th>
                <td>Ж4 F100 W2 B7,5</td>
                <td>3350 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-150</th>
                <td>Ж4 F150 W2 B12,5</td>
                <td>3550 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>Ж4 F200 W2 B15</td>
                <td>3650 ₽</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Цементно-песчаная смесь -->
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Цементно-песчаная смесь</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-100</th>
                <td>ЦПС</td>
                <td>3150 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-150</th>
                <td>ЦПС</td>
                <td>3250 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>ЦПС</td>
                <td>3400 ₽</td>
              </tr>
              <tr>
                <th scope="row">М-250</th>
                <td>ЦПС</td>
                <td>3550 ₽</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Цементное молочко -->
        <!-- <div class="tabs__panel">
          <table class="page-table">
            <caption>Цементное молочко</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> </th>
                <td> </td>
                <td>0 ₽</td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</section>
