<section class="price" id="price">
  <div class="container">
    <h2 class="title">Прайс-лист</h2>
    <p class="subtitle price__subtitle">Предлагаем самые <span class="color-accent">выгодные цены</span></p>
    <ul class="list-reset price__list">
      <li class="price__item">
        <a href="" class="price__link">
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать прайс-лист, pdf</p>
        </a>
      </li>
      <li class="price__item">
        <a href="" class="price__link">
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать прайс-лист, pdf</p>
        </a>
      </li>
      <li class="price__item">
        <a href="" class="price__link">
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать прайс-лист, pdf</p>
        </a>
      </li>
      <li class="price__item">
        <a href="" class="price__link">
          <svg>
            <use xlink:href="img/sprite.svg#download-file"></use>
          </svg>
          <p>Скачать прайс-лист, pdf</p>
        </a>
      </li>
    </ul>
    <div class="tabs" data-tabs="price-tab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Бетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Керамзитобетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Тощий бетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Фибробетон</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Цементное молочко</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Бетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>на гравии <br>с&nbsp;НДС 20%</th>
                <th scope="col">Цена за 1м3,<br>на граните <br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Керамзитобетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>на гравии <br>с&nbsp;НДС 20%</th>
                <th scope="col">Цена за 1м3,<br>на граните <br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Тощий бетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>на гравии <br>с&nbsp;НДС 20%</th>
                <th scope="col">Цена за 1м3,<br>на граните <br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Фибробетон</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>на гравии <br>с&nbsp;НДС 20%</th>
                <th scope="col">Цена за 1м3,<br>на граните <br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tabs__panel">
          <table class="page-table">
            <caption>Цементное молочко</caption>
            <thead>
              <tr>
                <th scope="col">Марка</th>
                <th scope="col">Характеристика</th>
                <th scope="col">Цена за 1м3,<br>на гравии <br>с&nbsp;НДС 20%</th>
                <th scope="col">Цена за 1м3,<br>на граните <br>с&nbsp;НДС 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
              <tr>
                <th scope="row">М-200</th>
                <td>В-15, П4 F150 W4</td>
                <td>3000 ₽ </td>
                <td>3000 ₽ </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
