<section class="projects" id="projects" data-section-observer>
  <div class="container">
    <h2 class="title">Портфолио</h2>
    <div class="projects__header">
      <p class="subtitle">Ознакомьтесь с нашими <span class="color-accent"> выполненными проектами</span></p>
      <div class="projects__controlls">
        <button class="btn-reset projects__btn projects__btn-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-prev"></use>
          </svg>
        </button>
        <button class="btn-reset projects__btn projects__btn-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper projects__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="project-card">
            <img src="./img/project.jpg" alt="проект 1">
            <ul class="list-reset project-card__tags">
              <li>Частный дом</li>
              <li>Бетон М200</li>
              <li>20 м2</li>
              <li>Доставили за 4 часа</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card">
            <img src="./img/project.jpg" alt="проект 1">
            <ul class="list-reset project-card__tags">
              <li>Частный дом</li>
              <li>Бетон М200</li>
              <li>20 м2</li>
              <li>Доставили за 4 часа</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card">
            <img src="./img/project.jpg" alt="проект 1">
            <ul class="list-reset project-card__tags">
              <li>Частный дом</li>
              <li>Бетон М200</li>
              <li>20 м2</li>
              <li>Доставили за 4 часа</li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card">
            <img src="./img/project.jpg" alt="проект 1">
            <ul class="list-reset project-card__tags">
              <li>Частный дом</li>
              <li>Бетон М200</li>
              <li>20 м2</li>
              <li>Доставили за 4 часа</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="swiper-scrollbar projects__scrollbar"></div>
  </div>
</section>
