@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes title-pseudo_fadein {
  0% {
    opacity: 0;
    transform: translate(-50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes scrolldown-offset {
  37.5% {
    stroke-dashoffset: 0;
  }

  75% {
    stroke-dashoffset: -5;
  }
}
